:root {
    --mainColor: #071d4e;
    --mixture: #edd86b;
}

marquee {
    display: block;
}

.marque {
    border-bottom: 1px solid var(--mainColor);

}

.logo {
    width: 180px;
    padding: 10px 0;
}

.menu {
    margin: 0;
}

.header {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    margin: 0 auto;
    box-shadow: 0px 6px 10px #9999;
}

.header::after {
    content: '';
    position: absolute;
    right: -20%;

    top: 0;
    z-index: -1;

    bottom: 0;
    background: var(--mainColor);
    transform: skew(-45deg);
}

.wrapper {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}


.menu li a,
.menu li span {
    color: var(--mixture);
    border-bottom: 2px solid transparent;
}

.menu li a:hover {
    border-bottom: 2px solid var(--mainColor);
    text-decoration: none;

}

.menu li span:hover {
    border-bottom: 2px solid var(--mixture);

}


@media screen and (max-width: 992px) {
    .navbarcstm {
        background: var(--mainColor);
    }

    .navbarcstm {
        position: fixed;
        top: 0;
        left: -100%;
        width: 75%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        overflow-y: auto;
        visibility: hidden;


        transition: all 0.5s ease;
    }

    .navbarcstm.active {
        left: 0rem;
        opacity: 1;
        visibility: visible;
    }
}

.menu-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
}

.menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0.25rem;
    column-gap: 0.25rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    text-transform: capitalize;

    transition: all 0.3s ease-in-out;
}

.menu-link>i.bx {
    font-size: 1.35rem;
    line-height: 1.5;
    color: inherit;
}

.menu-link:hover {
    outline: none;
}

@media only screen and (min-width: 993px) {
    .menu-dropdown:hover>.submenu {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 992px) {
    .menu {
        width: 100%;
        height: auto;
        padding: 1rem 0;
    }

    .menu-item {
        display: block;
        margin: 0 auto;
    }

    .menu-link {
        justify-content: space-between;
        padding: 0.5rem 1.25rem;
    }

    .menu li a,
    .menu li span {
        color: var(--mixture);
        border-bottom: 2px solid transparent;
    }
}

.submenu {
    position: absolute;
    background-color: var(--mixture);
    top: 2.35rem;
    left: -2rem;
    min-width: 13rem;
    height: auto;
    padding: 0 1rem 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: 2px solid var(--mainColor);


    transition: all 0.3s ease-in-out;
}

.submenu-item {
    display: block;
    margin-top: 0.75rem;
}

.submenu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;

    transition: all 0.35s ease;
}

.submenu-link:hover {
    outline: none;

}

@media only screen and (max-width: 992px) {
    .submenu {
        position: relative;
        top: -0.5rem;
        left: 2.5rem;
        width: 100%;
        max-height: 0;
        padding: 0px;
        border: none;
        outline: none;
        opacity: 1;
        overflow: hidden;
        visibility: visible;
        transform: translateY(0px);
        box-shadow: none;
        background: transparent;
    }
}

.burger {
    position: relative;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.75rem;
    height: 1rem;
    opacity: 0;
    visibility: hidden;
    background: transparent;
}

.burger-line {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--mainColor);
    opacity: 1;
    border: none;
    outline: none;

}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

@media only screen and (max-width: 992px) {
    .burger {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 992px) {
    .overlay.active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}