@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

:root {
    --mainColor: #071d4e;
    --mixture: #edd86b;
}

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Raleway', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out all 450ms;
}

a {
    text-transform: capitalize;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    color: #444;
    line-height: 1.8;

    font-size: 14px;
    letter-spacing: 1px;

}

section {
    padding: 60px 0;
}






.hero {
    padding: 0;
}

.heading {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about {
    background: url('../img/banner.jpg') center no-repeat;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.about::before {
    content: '';
    position: absolute;
    left: -140px;
    top: 0;
    bottom: 0;
    background: var(--mainColor);
    transform: skew(-26deg);
    width: 63%;
}

.aboutcard {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 60px #bebebe, 0px 0px 0px #ffffff;
    padding: 20px 40px;
}

.aboutimg {
    padding: 20px;
}

.abouttxt {
    color: var(--mixture);
}

.abouttxt p {
    color: rgb(233, 233, 233);

}

.maincolor {
    background-color: var(--mainColor);
}

.mixturecolor {
    background: var(--mixture);
}

.mybtn {
    padding: 1.3em 3em;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.mybtn:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(61, 46, 229, 0.4);
    color: var(--mainColor);
    text-decoration: none;
    transform: translateY(-7px);
}

.down-mark-line {
    position: relative;
    z-index: 2;
    display: inline-block;
}

.down-mark-line:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: url('../img/highlightUnderline.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-animation: section-animation 3s infinite;
    animation: section-animation 3s infinite;
}

@-webkit-keyframes section-animation {
    0% {
        width: 0
    }

    15% {
        width: 100%
    }

    85% {
        opacity: 1
    }

    90% {
        width: 100%;
        opacity: 0
    }

    to {
        width: 0;
        opacity: 0
    }
}

.service {
    background: #fff;
}

.serviceCard {
    display: flex;
    background: white;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 10px #d3d3d3;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: space-between;
    gap: 20px;
}

.serviceCard:hover {

    box-shadow: unset;
}



.serviceCard h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--mainColor);
    text-transform: capitalize;
}

.serviceCard:hover h4 {
    color: var(--mainColor);
    text-transform: capitalize;
}

.serviceCard p {
    color: #888;
    text-align: justify;
    font-size: 13px;
    height: 100px;
    margin: 0;
    overflow: hidden;
}

.item {
    position: relative;
}

.layer {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.layer h1 {
    color: #fff;
    font-weight: bold;

}

.layertxt {
    padding: 20px;
}

.layertxt p {

    color: #fff;
}


.testimonial {
    background: url('../img/testbg.webp') no-repeat center;
    background-size: cover;
}

.testi1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
}


.testitxt p {
    text-align: justify;
}

.testimg {
    box-shadow: 0 0 10px #dfdfdf;
    border: 4px solid var(--mainColor);
    border-radius: 50%;
}

.map {
    padding: 0px;
}

.cimg {
    width: 100px;
}

.contactCard {
    background: var(--mixture);
    display: flex;
    margin-top: -60px;
    padding: 40px 0;
    border-radius: 60px;
    box-shadow: 0 0 10px #dfdfdf;
    justify-content: space-around;
    align-items: center;
}

.contactCard>div>h1 {
    font-weight: bolder;
    text-transform: capitalize;
    color: #071d4e;

    margin: 0;
}

ul {
    list-style-type: none;
}

footer {

    background: var(--mainColor);
}

.footcard h2 {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--mixture);
}

.footcard p {
    color: #fff;
}

.foot {
    list-style-type: none;
}

.foot li {
    margin: 15px 0;
}

.foot li a {
    font-weight: 200;
    color: white;
}

.foot li p {
    font-weight: 200;

}

.copy {
    background: #25428391;
    padding: 20px 10px;
    box-shadow: 0 0 10px #333;
    align-items: center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.copy p,
.copy a {
    color: white;
}


.socialfoot {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.socialfoot li {
    background: var(--mixture);
    padding: 10px;
    box-shadow: 0 0 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.socialfoot li:hover {
    transform: rotateY(360deg);
}

.subheader {
    padding: 60px 0;
    background: url('../img/breadcrumb.png') no-repeat center;
    background-size: cover;
}

.subheader h1 {
    color: var(--mixture);

    text-transform: uppercase;
    font-weight: bold;
}



.aboutlinks a {
    color: var(--mixture);
    font-weight: 500;
}

.txtbox {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    border: unset;
    background: #efefef;
}

.txtbox::placeholder {
    text-transform: capitalize;
    font-size: 12px;
}

.txtbox:focus {
    border: 1px solid var(--mainColor);
}

.contactuscard {
    padding: 20px;
    background: #f8f8f9;
    border-radius: 10px;
}

.contactcard {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
}

.contactuscard h3 {
    font-weight: 800;
    font-size: 1.2rem;

}

.contactcard h6 {

    text-transform: capitalize;
    font-weight: bold;
    color: var(--mainColor);
}

.contactcard span {
    font-size: 14px;
}

.ctxt p {
    line-height: 1.6;
    text-align: justify;
    margin: 0;
}

.ctxt h4 {
    font-weight: bold;
    color: var(--mainColor);
}

.ccard {
    box-shadow: 0 0 10px #dfdfdf;
    overflow: hidden;
}

.rightbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    box-shadow: 0 0 10px #f9f9fb;
    background: #f2f2f2;
}

.nav-link {
    font-weight: 600;
    color: var(--mainColor);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: var(--mainColor) !important;
    color: var(--mixture) !important;
}

.tbl p {
    margin: 0;
}

@media (min-width:320px) {
    .aboutcard {
        margin-top: 0rem;
    }

    .serviceCard {
        flex-direction: column;

    }

    .layer h1 {
        font-size: 2rem;
    }

    .header::after {
        width: 68%;
    }

    .testi1 {
        flex-direction: column;
    }

    .testitxt {
        width: auto;
    }

    .contactCard {
        flex-direction: column;
        text-align: center;
    }

    .contactCard>div>h1 {
        font-size: 2rem;
    }

}


@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:768px) {
    .contactCard {
        flex-direction: row;
        text-align: unset;

    }

    .contactCard>div>h1 {
        font-size: 3.5em;
    }

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:992px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .aboutcard {
        margin-top: -9rem;
    }

    .serviceCard {
        flex-direction: row;
    }

    .layer h1 {
        font-size: 4rem;
    }

    .header::after {
        width: 88%;
    }

    .testi1 {
        flex-direction: row;
    }

    .testitxt {
        width: 50%;
    }


}